.header {
  letter-spacing: -1px;
  font-size: 2rem;
  font-weight: bolder;
}

.app {
  width: 90%;
}

.spacing {
  letter-spacing: 0.5px;
}
.md-width {
  width: 40%;
}

.input-width {
  width: 85% !important;
}

.margin {
  margin-top: 5.6rem;
}

@media only screen and (max-width: 757px) {
  .md-width {
    width: 60%;
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 575px) {
  .md-width {
    width: 98%;
  }
  .header {
    font-size: 1.2rem;
  }
}
