.header {
  letter-spacing: -1px;
  font-size: 2rem;
  font-weight: bolder;
}

.user-page {
  width: 80%;
}

.app {
  /* width: 90%; */
  padding: 3rem 0;
}

.spacing {
  letter-spacing: 0.5px;
}
.md-width {
  width: 40%;
}

.input-width {
  width: 85% !important;
}

.margin {
  margin-top: 5.6rem;
}

.page-link:disabled {
  background-color: #dee2e6;
  color: #fff;
}

.btn {
  background-color: #007bff;
  color: #fff;
}

@media only screen and (max-width: 80rem) {
  .user-page {
    width: 120%;
  }
}

@media only screen and (max-width: 757px) {
  .md-width {
    width: 60%;
    margin-bottom: 0.5rem;
  }

  .user-page {
    width: 90%;
  }
}

@media only screen and (max-width: 575px) {
  .md-width {
    width: 98%;
  }
  .header {
    font-size: 1.2rem;
  }

  .user-page {
    width: 100%;
  }

  .lead {
    font-size: 1rem !important;
  }

  .app {
    padding: 3rem 0.5rem;
  }
}
